.dashboard {
    display: grid;
    grid-template-columns: 1fr 10fr;
    background-color: antiquewhite;
}

.table {
    display: flex;
    justify-content: center;
}

table th,
td {
    width: 150px;
    height: 45px;
}